{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<link rel="stylesheet" href="{% static 'authentication/register.css'%}">
<body>
   <div class="register">
     <h2 class="register-name">Set a new password</h2>

  <form method="post">
   
     {% csrf_token %}
  <h5>New password:</h5>
  {{ form.new_password1 }} 
  <br>

  <h5>Confirm new password:</h5>
  {{ form.new_password2 }} 
  <br>
    <button class="register-button" type="submit">Change password</button>
  </form>
  </div>
</body>
</html>