<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
<body>
    <h2>Forgot password</h2>
  <p>Enter the email associated with your account. We'll send a link to reset your password.</p>

  <form method="post">
    {% csrf_token %}
    {{ form.email.label_tag }}<br>
    {{ form.email }}<br>
    {{ form.email.errors }}
    <button type="submit">Send reset link</button>
  </form>
</body>
</html>