{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>

</head>
<link rel="stylesheet" href="{% static 'authentication/register.css'%}">
<body>
  <div class="register">
    <h2 class="register-name">Forgot password</h2>
    <p>Enter the email associated with your account. We'll send a link to reset your password.</p>

  <form method="post">
    {% csrf_token %}
   
    <span class="pass-reset-email">{{ form.email.label_tag }}</span><br>
    {{ form.email }}<br>

    {{ form.email.errors }}
    <button class="register-button" type="submit">Send reset link</button>
  </form>
  </div>
</body>
</html>