.cart-section{
    margin-top: 100px;
}
.cart-top{
    display: flex;
    justify-content: center;
    
}
.cart-top-addresses{
    border: 0.5px solid rgb(158, 154, 154);
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;

}
.cart-top-addresses-img{
width: 40px;
height: 40px;
}
.cart-top-addresses-p{
font-size: larger;
margin-right:200px;
cursor: pointer;
}
.cart-top-addresses-button{
   background-color: rgb(255, 255, 255);
   border: 0.6px solid rgb(187, 187, 187);
   padding: 5px 10px;
   border-radius: 4px;
}
.cart-top-addresses-button:hover{
   cursor: pointer;
   color: rgb(100, 172, 255);

}
.cart-main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 335px;
}
.cart-main-readpolicy{
    width: 300px;
    margin-left: 10px;
    border: 0.1px solid rgb(221, 221, 221);
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1faff;
}
.cart-main-card{
    border: 0.1px solid rgb(213, 212, 212);
    width: 600px;
    height: 70vh;
    padding: 10px;
}
.cart-main-readpolicy-top{
    font-weight: 800;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-main-readpolicy-bot{
    margin-top: 10px;
    font-weight: 100;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-main-card-restaurant{
    display: flex;
}
.cart-main-card-restaurant-img{
    width: 60px;
    border-radius: 9px;
}
.cart-main-card-resdetails{
    margin-left: 20px;
}

.cart-main-card-items-1{
    
    display: flex;
    justify-content: space-between;

}
.cart-main-card-items-1-img{
 width: 10px;
}
.cart-main-card-items-1-add{
    margin-left: 100px;
}                      
.cart-main-card-items-heading{
    font-family: 'Times New Roman', Times, serif;
}
.cart-main-card-items-list{
    margin-top: 3px;
    height: 160px;
    overflow-x: hidden;
    border: 0.2px solid rgb(244, 240, 240);
    padding: 7px;
}
.cart-main-card-items-1{
    border: 0.2px solid rgb(242, 240, 240);
     padding: 7px;
     margin-bottom: 3px;
    background-color: #f1faff;
}
.cart-main-card-items-1-add-button{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 255, 255);
     border: 1px solid rgb(191, 188, 188);
     border-radius: 10px;
}
.cart-main-card-items-1-add-button:hover{
   cursor: pointer;
   color: rgb(68, 179, 230);
    border: 1px solid rgb(106, 175, 244);
}
.cart-main-card-items-1-money{
    font-weight: 400;
}

.cart-main-card-coupons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 0.6px solid rgb(191, 188, 188);
    height: 50px;
    gap: 10px;
    cursor: pointer;
     
}
.cart-main-card-coupons-img{
    width: 30px;
}

.cart-main-card-bill{
    margin-top: 10px;
}

.cart-main-card-bill-div1,.cart-main-card-bill-div2,.cart-main-card-bill-div3,.cart-main-card-bill-div4{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-main-card-bill-hr1{
    margin-top: 10px;
    height: 2px;
    border: none;
    background-color: rgb(234, 234, 234);
}
.cart-main-card-bill-hr2{
    margin-top: 50px;
    height: 0.2px;
    
    background-color: rgb(222, 221, 221);
}
.cart-main-card-bill-div1-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-main-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-main-div2-confirmorder{
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    width: 300px;
     border: 1px solid rgb(191, 188, 188);
    
}
.cart-main-div2-confirmorder:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 150, 254);
    box-shadow: 2px 2px 10px 1px lightskyblue;
    transition: all ease-in-out 0.2s;
    border-radius: 18px;
}


/* pop up address select */

.adress-page{
    display: flex;
    margin-top: 6rem;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 3px;
    
 
}
.adress-page-address1{
    margin-top: 10px;
    display: flex;
    border:0.1px solid rgb(191, 191, 191);
    width: 250px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    
}
.adress-page-div{
    border: 0.3px solid rgb(228, 228, 228);
    width: 590px;
    height: 620px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0.1px 0.1px 10px 0.1px #bbe8ff;
    overflow-y: auto;
}
.adress-page-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    width: fit-content;
    font-size: x-large;
     background: linear-gradient(to right, #8bb3f3, #8ba4e7, #96c2ff, #a9d6ee);
     -webkit-background-clip: text;
     color: transparent;  
    
}
.adress-page-address1:hover{
   box-shadow: 0px 0px 5px 1px #83b7f2;
}
.adress-page-address1-img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.adress-page-address1-details-address{
    margin-top: 4px;
    font-size: smaller;
}
.adress-page-address1-details-time{
    margin-top: 5px;
    font-size: large;
    font-weight: 500;
}
.adress-page-address1-details-button{
    margin-top: 6px;
    background-color: #ffffff;
    border: 0.1px solid #dedbdb;
    padding: 3px 6px;
    background-color: #8dceff;
    color: #ffffff;
}
.adress-page-address1-details-button:hover{
    cursor: pointer;
   
    
    color: rgb(70, 122, 218);
    
}

.adress-page-addresses{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.adress-page-address1-details-button-unique{
    margin-top: 30px;
    background-color: #ffffff;
    border: 0.4px solid #83b7f2;
    padding: 3px 6px;
    color: rgb(133, 185, 246);
}
.adress-page-address1-details-button-unique:hover{
    cursor: pointer;
    color: rgb(70, 122, 218);
    
}


/* side page pop up  */

.Addnewaddress-page{
    
    margin-top:50px;
    height: 700px;
    border: 1px solid rgb(233, 233, 233);
    width: 450px;
    padding: 10px 30px ;
}
.Addnewaddress-page-heading{
    display: flex;
     margin-top: 30px;
     gap: 20px;
     align-items: center;
     
}
.Addnewaddress-page-heading-img{
    width: 10px;
    height: 10px;
    
}
.Addnewaddress-page-heading-button{
    background: none;
    border: none;
    

}
.Addnewaddress-page-heading-text{
    font-size: large;

}
.Addnewaddress-page-heading-img:hover {
   
    cursor: pointer;
   

}
.Addnewaddress-page-googlemap{
    margin-top: 20px;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
.Addnewaddress-page-inputs{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    
}
.Addnewaddress-page-inputs-div1,.Addnewaddress-page-inputs-div2,.Addnewaddress-page-inputs-div3{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.Addnewaddress-page-inputs-div1-input1,.Addnewaddress-page-inputs-div1-input2,.Addnewaddress-page-inputs-div1-input3{
    margin-top: 3px;
    height: 40px;
    outline: none;     
     border: 0.2px solid  rgb(187, 185, 185);
     border-radius: 2px;
     cursor: pointer;
     padding: 3px;
}
.Addnewaddress-page-inputs-div1-input1:focus,.Addnewaddress-page-inputs-div1-input2:focus,.Addnewaddress-page-inputs-div1-input3:focus{
   box-shadow:0px 0px 5px 0px  #83b7f2;

}
.Addnewaddress-page-inputs-div4{
    display: flex;
    justify-content: space-between;
   
    
}

.Addnewaddress-page-inputs-div4-button{
width: 110px;
height: 40px;
border: none;
background-color: #ffffff;
 cursor: pointer;
}


.Addnewaddress-page-inputs-div4-img{
    width: 15px;
    height: 15px;
    
    
}

.Addnewaddress-page-inputs-div4-1,.Addnewaddress-page-inputs-div4-2,.Addnewaddress-page-inputs-div4-3{
   display: flex;
    
    justify-content: center;
   align-items: center;
   border: 0.1px solid rgb(193, 193, 193);
   padding: 2px 10px;
    cursor: pointer;
}
.Addnewaddress-page-inputs-div4-1:hover,.Addnewaddress-page-inputs-div4-2:hover,.Addnewaddress-page-inputs-div4-3:hover{
    box-shadow:1px 1px 1px #83b7f2;
    cursor: pointer;
}



