.cart-section{
    margin-top: 100px;
}
.cart-top{
    display: flex;
    justify-content: center;
    
}
.cart-top-addresses{
    border: 0.5px solid rgb(158, 154, 154);
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;

}
.cart-top-addresses-img{
width: 40px;
height: 40px;
}
.cart-top-addresses-p{
font-size: larger;
margin-right:200px;
cursor: pointer;
}
.cart-top-addresses-button{
   background-color: rgb(255, 255, 255);
   border: 0.6px solid rgb(187, 187, 187);
   padding: 5px 10px;
   border-radius: 4px;
}
.cart-top-addresses-button:hover{
   cursor: pointer;
   color: rgb(100, 172, 255);

}
.cart-main{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 335px;
}
.cart-main-readpolicy{
    width: 300px;
    margin-left: 10px;
    border: 0.1px solid rgb(221, 221, 221);
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(245, 250, 250);
}
.cart-main-card{
    border: 0.1px solid rgb(213, 212, 212);
    width: 600px;
    height: 70vh;
    padding: 10px;
}
.cart-main-readpolicy-top{
    font-weight: 800;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-main-readpolicy-bot{
    margin-top: 10px;
    font-weight: 100;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-main-card-restaurant{
    display: flex;
}
.cart-main-card-restaurant-img{
    width: 60px;
    border-radius: 9px;
}
.cart-main-card-resdetails{
    margin-left: 20px;
}

.cart-main-card-items-1{
    
    display: flex;
    justify-content: space-between;

}
.cart-main-card-items-1-img{
 width: 10px;
}
.cart-main-card-items-1-add{
    margin-left: 100px;
}                      
.cart-main-card-items-heading{
    font-family: 'Times New Roman', Times, serif;
}
.cart-main-card-items-list{
    margin-top: 3px;
    height: 160px;
    overflow-x: hidden;
    border: 0.2px solid rgb(228, 225, 225);
    padding: 7px;
}
.cart-main-card-items-1{
    border: 0.2px solid rgb(191, 188, 188);
     padding: 7px;
     margin-bottom: 3px;
    background-color: rgb(245, 250, 250);
}
.cart-main-card-items-1-add-button{
    width: 30px;
    height: 20px;
    background-color: rgb(255, 255, 255);
     border: 1px solid rgb(191, 188, 188);
     border-radius: 10px;
}
.cart-main-card-items-1-add-button:hover{
   cursor: pointer;
   color: rgb(68, 179, 230);
    border: 1px solid rgb(106, 175, 244);
}
.cart-main-card-items-1-money{
    font-weight: 400;
}

.cart-main-card-coupons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 0.6px solid rgb(191, 188, 188);
    height: 50px;
    gap: 10px;
    cursor: pointer;
     
}
.cart-main-card-coupons-img{
    width: 30px;
}

.cart-main-card-bill{
    margin-top: 10px;
}

.cart-main-card-bill-div1,.cart-main-card-bill-div2,.cart-main-card-bill-div3,.cart-main-card-bill-div4{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-main-card-bill-hr1{
    margin-top: 10px;
    height: 2px;
    border: none;
    background-color: rgb(234, 234, 234);
}
.cart-main-card-bill-hr2{
    margin-top: 50px;
    height: 0.2px;
    
    background-color: rgb(222, 221, 221);
}
.cart-main-card-bill-div1-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-main-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-main-div2-confirmorder{
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    width: 300px;
     border: 1px solid rgb(191, 188, 188);
    
}
.cart-main-div2-confirmorder:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 150, 254);
    box-shadow: 2px 2px 10px 1px lightskyblue;
    transition: all ease-in-out 0.2s;
    
}
