.mainpage{

top: 0;
right: 0;
left: 0;
  
}



.main{
    
    margin-top: 55px;
    z-index: -1;
    
}
.main-div1{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.main-div1-img{
    position: relative;
    width:100%;
    height: 370px;
   
}


.main-div1-text{
    visibility: hidden;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;

    align-self: last baseline;
    margin-bottom: 10px;
    font-size: small;
    /* z-index: 2; */
    
    color: rgb(0, 0, 0);
  
    
    opacity: 0;
    
}
.main-div1-text:hover{
    animation: drop 0.3s ease-in-out 1 forwards ;
}
.main-div1:hover .main-div1-img {
    cursor: pointer;
  filter: brightness(0.2) contrast(0.8) saturate(0.9);
  transition: filter 0.2s ease-in;
}
.main-div1:hover .main-div1-text {
  visibility: visible;
  opacity: 1;
}


@keyframes pop {
    0%{
        align-self: last baseline;
    }
    25%{
        margin-bottom: 5px;
    }
    50%{
        margin-bottom: 10px;
    }
    75%{
        margin-bottom: 15px;
    }
    100%{
        margin-bottom: 20px;
    }
}

.main2{
    display: flex;
    justify-content: space-between;
    margin-inline: 55px;
    margin-top: 20px;
    
}
.main2-div1-topline{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.main2-div2-filter{
    display: flex;
  align-items: center;
    font-size: medium;
    width: fit-content;
    border: solid 0.3px rgb(223, 219, 219);
   
    border-radius: 10px;
    gap: 10px;
    padding: 3px 20px;
    cursor: pointer;
    
}
.main2-div2-filter:hover{
    animation: drop 0.2s ease-in-out 1 forwards ;
}

@keyframes drop {
  0% {
    background-image: linear-gradient(rgb(113, 185, 240));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1px 1px;
  }
  100% {
    background-image: linear-gradient(rgb(113, 185, 240));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 240px 240px;
    color: rgb(253, 254, 255);
  }
}
.main2-div2-filter-img{
    width: 14px;
   align-self: center;
   margin-top: 3px;
   
}


.main3{
    margin-top: 40px;
    margin-inline: 55px;
}
.main3-topline{
   font-weight: bold;
}
.main-3-food{
    display: flex;
    height: 130px;
    overflow-x: auto;
   scroll-behavior: smooth;
   scrollbar-width: none;
}
.main-3-food *{
    width: 100px;
    cursor: pointer;
}
.main3-div2{
    display: flex;
    align-items: center;
}
.main3-div2-arrows{
    margin-inline: 15px;
    width: 20px;
   gap: 40px;
   border-radius: 20px;
   padding: 6px;
   cursor: pointer;
}
.main3-div2-arrows:hover{
    transition: background-color 0.3s ease-in;
    
    background-color: rgb(174, 220, 246);
}
.main4-restaurantslist{
    margin-inline:55px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.main4-restaurantslist-restaurantcard{
    
    width: 200px;
    height: 300px;
   cursor: pointer;
}
.main4-restaurantslist-restaurantcard-img{
    width: 200px;
    height: 190px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    
}
.main4-restaurantslist-restaurantcard:hover .main4-restaurantslist-restaurantcard-img {
  transform: scale(1.03);
   box-shadow: 2px 8px 10px rgba(25, 154, 218, 0.2);
}
.main4-restaurantslist-restaurantcard-name{
font-weight: 300;

}
.main4-restaurantslist-restaurantcard:hover .main4-restaurantslist-restaurantcard-name{
color: rgb(0, 100, 188);
}
.main4-restaurantslist-restaurantcard-rating{
font-weight: 300;
color: rgb(124, 124, 124);

}
.main4-restaurantslist-restaurantcard-items{
font-weight: 100;
color: rgb(124, 124, 124);
}
.main4-restaurantslist-restaurantcard-location{
font-weight: 100;
color: rgb(124, 124, 124);
}

/* location  */

.location{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    
    justify-content: center;
    margin-top: 100px;
    
}
.location-popup-1{
   padding: 20px;
    width: 600px;
    height: 600px;
    background: #ffffff;


}
.location-popup-1-input{
    margin-top: 10px;
    display: flex;
    justify-content: start;
}
.location-popup-1-input-in{
    width: 400px;
    height: 20px;
    padding: 10px;
    border: 0.7px solid rgb(166, 164, 164);
    outline: none;
}
.location-popup-1-input-in:focus{
    box-shadow: 0px 0px 5px 0px #9de5ff;
}

.location-popup-1-gps{
    margin-top: 20px;
      width: 400px;
    height: 40px;
    padding: 10px;
    border: 0.7px solid rgb(166, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.location-popup-1-gps:hover{
color: rgb(106, 188, 255);
transition: color ease 0.2s;
}
.location-popup-1-gps-img{
    width: 30px;
    height: 30px;
}
.location-popup-1-saved{

    margin-top: 7px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    
}
.location-popup-1-saved-head{
    font-size: larger;
    font-weight: 600;
    margin-top: 30px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.location-popup-1-saved-1{margin-top: 30px;
      width: 400px;
    height: fit-content;
    padding: 10px;
    border: 0.7px solid rgb(166, 164, 164);
    transition: all ease-in 0.2s;
    cursor: pointer;
}
.location-popup-1-saved-1:hover{
  border:1px solid #29a855;
  
}
.location-map-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.location-map-image-img{
    width: 50px;
    height: 50px;
    
}
.location-map-image-head{
    font-size: 0px;
    animation: pop 2s ease 0.5s 1 forwards;
}
@keyframes pop{
    0%{
        font-size: 0px;
    }
    100%{
        font-size: 20px;
    }
}


.location-popup-1-saved-1-head{
    font-size: large;
    font-weight: 700;
}




/* pop up 2 */


.location-popup-2{
    display: none;
      padding: 20px;
    width: 600px;
    height: 600px;
    background: #ffffff;

}
.Addnewaddress-page{
    
   
    height: 400px;
    
    width: 450px;
    padding: 1px 3px ;
}
.Addnewaddress-page-heading{
    display: flex;
     margin-top: 30px;
     gap: 20px;
     align-items: center;
     
}
.Addnewaddress-page-heading-img{
    width: 10px;
    height: 10px;
    
}
.Addnewaddress-page-heading-button{
    background: none;
    border: none;
    

}
.Addnewaddress-page-heading-text{
    font-size: large;

}
.Addnewaddress-page-heading-img:hover {
   
    cursor: pointer;
   

}
.Addnewaddress-page-googlemap{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
}
.Addnewaddress-page-inputs{
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    
}
.Addnewaddress-page-inputs-div1,.Addnewaddress-page-inputs-div2,.Addnewaddress-page-inputs-div3{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.Addnewaddress-page-inputs-div1-input1,.Addnewaddress-page-inputs-div1-input2,.Addnewaddress-page-inputs-div1-input3{
    margin-top: 3px;
    height: 40px;
    outline: none;     
     border: 0.2px solid  rgb(187, 185, 185);
     border-radius: 2px;
     cursor: pointer;
     padding: 3px;
}
.Addnewaddress-page-inputs-div1-input1:focus,.Addnewaddress-page-inputs-div1-input2:focus,.Addnewaddress-page-inputs-div1-input3:focus{
   box-shadow:0px 0px 5px 0px  #83b7f2;

}
.Addnewaddress-page-inputs-div4{
    display: flex;
    justify-content: space-between;
   
    
}

.Addnewaddress-page-inputs-div4-button{
width: 110px;
height: 40px;
border: none;
background-color: #ffffff;
 cursor: pointer;
}


.Addnewaddress-page-inputs-div4-img{
    width: 15px;
    height: 15px;
    
    
}

.Addnewaddress-page-inputs-div4-1,.Addnewaddress-page-inputs-div4-2,.Addnewaddress-page-inputs-div4-3{
   display: flex;
    
    justify-content: center;
   align-items: center;
   border: 0.1px solid rgb(193, 193, 193);
   padding: 2px 10px;
    cursor: pointer;
}
.Addnewaddress-page-inputs-div4-1:hover,.Addnewaddress-page-inputs-div4-2:hover,.Addnewaddress-page-inputs-div4-3:hover{
    box-shadow:1px 1px 1px #83b7f2;
    cursor: pointer;
}


.location-popup-1-back{
    position: absolute;
    font-weight: 100;
    cursor: pointer;
}

