*{
    margin: 0%;
    padding: 0%;
}
.mealwheel {
   background-repeat: no-repeat;
   background: linear-gradient(to bottom,
      rgb(44, 44, 44),
      rgb(54, 54, 54),
      rgb(65, 65, 65),
      rgb(72, 72, 72),
      rgb(85, 85, 85),
      rgb(72, 72, 72),
      rgb(65, 65, 65),
      rgb(46, 46, 46),
      rgb(25, 25, 25)
   );
    
   height: 100vh;
   background-size: cover;  
   background-position: center;
   
   transition: all 0.5s ease-in-out;
}


.mealwheel-heading{
    color: azure;
}