
* {
  margin: 0;
  padding: 0;
 
}
body {
   display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;   
   background-image: url("bg2.png"); 
   
   background-repeat: no-repeat;  
   background-size: cover;  
}
.login{
    background-color: #fdfdfd; 
   width: fit-content;
  height: fit-content;
  border: 1px solid rgb(228, 227, 227);
  padding: 30px;
  border-radius: 10px;
}
.login-name{
   font-size: x-larger;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login-maindiv{

   display: flex;
    flex-direction: column;
  
 
   gap: 10px;
   margin-top: 20px;
   
}
.login-email{
     border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
}
.login-password{
     border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
}
.login-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 10px;
  background-color: rgb(172, 226, 245);
  width: 100px; /* example fixed width */
  margin: 10px auto; /* this centers the block itself */
  border-radius: 10px;
   cursor: pointer;
 
}
.login-submit{
     background: none;
  border: none;
   color: rgb(122, 120, 120);
    cursor: pointer;
}
.login-button:hover{
   background-color: rgb(113, 206, 240);
   box-shadow: 2px 1px 20px 5px lightblue;
   transition: background-color ease-in 0.2s;
}
.login-button:hover .login-submit{
    color: rgb(255, 255, 255); 
    transition: color ease-in 0.2s;
}
.register-separate{
   border: none;
  height: 2px;                
  background-color: rgb(237, 237, 237); /* color */
  margin: 20px 0;                /* spacing above & below */
  width: 100%; 
}
.register-part2{
   display: flex;
   gap: 10px;
   justify-content: center;
   background-color: rgb(246, 246, 246);
   padding: 10px 10px;
   border-radius: 3px;
}
.register-part2-img{
   width: 20px;
}
.register-part2:hover{
  
   background-color: rgb(230, 227, 227);
   cursor: pointer;
}
.errorlist{
   color: rgb(255, 0, 0);
   list-style: none;
}
.login-forgotpassword{
   color: rgb(0, 157, 255);
   cursor: pointer;
   text-decoration: none;
}
.login-forgotpassword:hover{
color: blue;
transition: font-weight ease 1s;
}
.google{
   text-decoration: none;
   font-size: medium;
   color: black;
}