* {
  margin: 0;
  padding: 0;
 
}

body {
   display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  height: 100vh;   
   background-image: url("bg2.png"); 
   
   background-repeat: no-repeat;  
   background-size: cover;  /* full screen */
}

.register{
   
   background-color: #fdfdfd; 
   width: fit-content;
  height: fit-content;
  border: 1px solid rgb(228, 227, 227);
  padding: 30px;
  border-radius: 10px;

}
.register-name{
   font-size: x-larger;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.register-div2{
   display: flex;
    flex-direction: column;
  
 
   gap: 10px;
   margin-top: 20px;
   
}
.register-div2-name{
   display: flex;
   justify-content: space-between;
}
.register-username {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
   
}
.register-password1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
}.register-password2{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
}
.register-email{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 400px;
}
.register-first_name{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 180px;
}
.register-last_name{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 180px;
}

.register-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 10px;
  background-color: rgb(172, 226, 245);
  width: 100px; /* example fixed width */
  margin: 10px auto; /* this centers the block itself */
  border-radius: 10px;
   cursor: pointer;
 
}
.register-submit{
     background: none;
  border: none;
   color: rgb(122, 120, 120);
    cursor: pointer;
}
.register-button:hover{
   background-color: rgb(113, 206, 240);
   box-shadow: 2px 1px 20px 5px lightblue;
   transition: background-color ease-in 0.2s;
}
.register-button:hover .register-submit{
    color: rgb(255, 255, 255); 
    transition: color ease-in 0.2s;
}
.register-separate{
   border: none;
  height: 2px;                
  background-color: rgb(237, 237, 237); /* color */
  margin: 20px 0;                /* spacing above & below */
  width: 100%; 
}
.register-part2{
   display: flex;
   gap: 10px;
   justify-content: center;
   background-color: rgb(246, 246, 246);
   padding: 10px 10px;
   border-radius: 3px;
}
.register-part2-img{
   width: 20px;
}
.register-part2:hover{
  
   background-color: rgb(230, 227, 227);
   cursor: pointer;
}
.errorlist{
   color: rgb(255, 0, 0);
   list-style: none;
}